<%# This is the view for the show action %>
<%# The show action is used to display a single user %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/assets/profile-banner.jpg);">
  <div class="container">
      <h1><%= image_tag (asset_path("flags/#{@user.country.downcase}.png")), style: "width: 32px;" %> <%= @user.username %></h1>
      <p>Member since: <%= @user.created_at.strftime("%d %B %Y") %></p>
      <p>TBD: Profile Biography?</p>
      <% if current_user == @user %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
      <% end %>
  </div>
  <div>
    <% if @user.beginners_luck? %>
      <%= image_tag (asset_path("achievements/beginners_luck.png")), class: "avatar", style: "background: white;" %>
    <% end %>
  </div>
</div>
