<% if @user.banner_picture.attached? %>
  <% background_url = cl_image_path @user.banner_picture.key %>
<% else %>
  <% background_url = asset_path "default_banner.jpg" %>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= background_url %>);">
  <div class="container">
    <div class="user-info">
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, height: 80, width: 90, crop: :thumb %>
      <% else %>
        <%= image_tag "default_picture.jpeg", height: 80, width: 90 %>
      <% end %>
      <h1><%= image_tag (asset_path("flags/#{@user.country.downcase}.png")), style: "width: 32px;" %> <%= @user.username %></h1>
      <p>Member since: <%= @user.created_at.strftime("%d %B %Y") %></p>
      <p>TBD: Profile Biography?</p>
      <% if current_user == @user %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div>
    <% if @user.beginners_luck? %>
      <%= image_tag (asset_path("achievements/beginners_luck.png")), class: "avatar", style: "background: white;" %>
    <% end %>
  </div>
</div>
