<% if @user.banner_picture.attached? %>
  <% background_url = cl_image_path @user.banner_picture.key %>
<% else %>
  <% background_url = asset_path "default_banner.jpg" %>
<% end %>

<div class="banner-user" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= background_url %>);">
  <div class="container">
      <div class="user-info row">
        <div class="user-left-panel col-8">
        <% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, height: 80, width: 90, crop: :thumb %>
        <% else %>
          <%= image_tag (asset_path("default_picture.jpg")), height: 90, width: 90 %>
        <% end %>
        <h1><%= image_tag (asset_path("flags/#{@user.country.downcase}.png")), style: "width: 32px;" %> <%= @user.username %></h1>
        <!-- <span class="fi fi-gr"></span> FLAG ICONS? -->
        <p>Member since: <%= @user.created_at.strftime("%d %B %Y") %></p>
        <p>Total XP: <%= @user.exp %></p>

        <% if current_user == @user %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn button-yellow" %>
        <% end %>
        </div>
        <div class="user-right-panel col-4">
          <div>
          <h4>My Achievements</h4>
          </div>
          <div class="achievements">
          <% if @user.beginners_luck? %>
            <%= image_tag (asset_path("achievements/BeginnersLuck.png")), width: "40px", class:"achievement-dyn-image", title:"Beginner's Luck\nComplete exercise on first attempt" %>
          <% end %>
          <%= image_tag (asset_path("achievements/EarlyAdopter.png")), width: "40px", class:"achievement-dyn-image", title:"Early Adopter\nUse JS Dojo in the first week of launch" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
