
  <h2>Your solution</h2>
  <div>
    <%= simple_form_for [@exercice, @submission] do |f| %>
      <%= f.input :user_code, class: 'imput-color'%>
      <%= f.button :submit, 'Run', class: 'btn btn-success' %>
    <% end %>
  </div>

<div>
  <h2>Output</h2>
  <div>
    <p>
      <%= @output %>
    </p>
  </div>
</div>

<div>
  <h2>Errors</h2>
  <div>
    <p>
      <%= @current_error %>
    </p>
  </div>
</div>
