<div class="row">
  <div class="col-md-4 ">
    <div class="card-instruction">
      <p>Instructions : <%= @exercice.instructions %></p>
      <p>user attempts: <%= @submission.attempts_count %></p>
    </div>

    <div class="card-instruction">
      <p>Details : <%= @exercice.details %></p>
      <p>XP: <%= @exercice.exp %></p>
      <p>[will be deleted -- for test purposes] <br> solution: <%= @exercice.solution %></p>
    </div>
  </div>

  <div class="col-md-8 ">
    <h2>Your solution</h2>
    <div>
      <%= simple_form_for [@exercice, @submission] do |f| %>
        <%= f.input :user_code, class: 'imput-color'%>
        <%= f.button :submit, 'Run', class: 'btn btn-success' %>
      <% end %>
    </div>

    <div>
      <h2>Output</h2>
      <div>
        <p>
          <%= @output %>
        </p>
      </div>
    </div>

    <div>
      <h2>Errors</h2>
      <div>
        <p>
          <%= @current_error %>
        </p>
      </div>
    </div>

    <div style="border: 1px solid gray; padding: 10px; margin-top: 30px;">
      <h2>Insights</h2>

      <% @rakes_insights.each_with_index do |rake_insight, index| %>

        <div>
          <p>To be evaluated:  <br/> <%= rake_insight[:to_be_evaluated] if rake_insight[:to_be_evaluated] %></p>
          <p>Executed:  <br/> <%= rake_insight[:executed] if rake_insight[:executed] %></p>
          <p>Unit test: <br/> <%= rake_insight[:unit_test] if rake_insight[:unit_test] %></p>
        </div>

        <% if index != @rakes_insights.length - 1%>
        <hr>
        <% end %>

      <% end %>

  </div>
</div>
