<div class="row">
  <div class="col-md-4 ">
    <div class="card-instruction">
      <p>Instructions : <%= @exercice.instructions %></p>
      <p>user attempts: <%= @submission.attempts_count %></p>
    </div>

    <div class="card-instruction">
      <p>Details : <%= @exercice.details %></p>
      <p>XP: <%= @exercice.exp %></p>
      <p style="color: black !important">solution: <%= @exercice.solution %></p>
    </div>
  </div>

  <div class="col-md-8" data-controller="editor">
      <h2>Your solution</h2>
      <div id="ace-div">
        <code id="ace-editor" data-editor-target="editor"><% if !@submission.user_code %>/*
Enter your code
*/<% else %><%= @submission.user_code %><% end %></code>
      </div>
    <div id="sub-editor-div">
      <div id="editor-form">
        <%= simple_form_for [@exercice, @submission] do |f| %>
          <%= f.hidden_field :user_code, class: 'input-color', data: {editor_target: "input"}%>
          <%= f.button :submit, 'Run', class: 'btn btn-success m-3', data: { action: "click->editor#submit_code" } %>
        <% end %>
      </div>
    <% if @rakes %>
      <div id="validations-counter">
        <p>Validations: <%= @exercice_validations %> / <%= @rakes.length %></p>
      </div>
    <% end %>
    </div>

    <div>
      <h2>Output</h2>
      <div>
        <p>
          <%= @output %>
        </p>
      </div>
    </div>

    <div>
      <h2>Errors</h2>
      <div>
        <p>
          <%= @current_error %>
        </p>
      </div>
    </div>

    <% if @rakes_insights %>
      <div style="border: 1px solid gray; padding: 10px; margin-top: 30px;">
        <h2>Insights</h2>

        <% @rakes_insights.each_with_index do |rake_insight, index| %>

          <div>
            <p>To be evaluated:  <br/> <%= rake_insight[:to_be_evaluated] ? rake_insight[:to_be_evaluated] : " ***nothing*** " %></p>
            <p>Executed:  <br/> <%= rake_insight[:executed] ? rake_insight[:executed] : " ***nothing*** " %></p>
            <p>Unit test: <br/> <%= rake_insight[:unit_test] ? rake_insight[:unit_test] : " ***nothing*** " %></p>
          </div>

          <% if index != @rakes_insights.length - 1%>
          <hr>
          <% end %>

        <% end %>

      </div>
  <% end %>

  <br>

</div>

<script src="https://releases.jquery.com/git/jquery-git.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.3/ace.js"></script>
<script>
    //cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js
    var theme = "ace/theme/twilight";
    var mode = "ace/mode/javascript";
    var editor = ace.edit("ace-editor");
    editor.setOptions({
      fontFamily: "courier",
      fontSize: "16pt"
    });
    editor.setTheme(theme);
    editor.getSession().setMode(mode);
    // editor.renderer.setShowGutter(false);
    $("#ace-mode").on("change", function () {
    editor.getSession().setMode("ace/mode/" + $(this).val().toLowerCase());
    });
    $("#ace-theme").on("change", function () {
    editor.setTheme("ace/theme/" + $(this).val().toLowerCase());
    });

</script>
