<br>
<div class="parent">
  <div class="lastplayed">
        <h2>Resume last exercise</h2>
      <div class="d-flex py-3 flex-column">
        <% if @last_unfinished_submission %>
          <%= link_to @last_unfinished_submission.exercice.title, edit_exercice_submission_path(@last_unfinished_submission.exercice, @last_unfinished_submission) %>
          <p><%= @last_unfinished_submission.exercice.instructions %></p>
        <% end %>
      </div>
  </div>
  <div class="currentxp">
    <div class="mb-5">
      <h2>Total Wins</h2>
      <p><%= @total_wins %> games won</p>
    </div>
    <div class="mb-5">
      <h2>Ranking</h2>
      <p><%= ordinal_indicator(@current_user_rank) %> out of <%= @users_count %> players !</p>
    </div>
    <div class="mb-5">
      <h2>Total XP</h2>
      <p><%= current_user.exp %></p>
    </div>

  </div>
  <div class="streams">
    <h2>Featured Streams</h2>
    <iframe src="https://player.twitch.tv/?channel=elysiagriffin&parent=<%=request.host%>&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="189" width="310"></iframe>
  </div>
  <div class="random">
    <h2>Start a Random Exercise</h2>
    <%= link_to "Random Exercise", exercice_path(@never_tried.sample), class: 'btn btn-primary' %>
  </div>
  <div class="challenges">
    <h2>Achievements</h2>
    <%= image_tag (asset_path("achievements/ActiveUser.png")), class: "badge-opacity", width: "40px" %>
    <%= image_tag (asset_path("achievements/BeginnersLuck.png")), width: "40px" %>
    <%= image_tag (asset_path("achievements/Bookmarker.png")), class: "badge-opacity", width: "40px" %>
    <%= image_tag (asset_path("achievements/Champ.png")), class: "badge-opacity", width: "40px" %>
    <%= image_tag (asset_path("achievements/EarlyAdopter.png")), width: "40px" %>
    <%= image_tag (asset_path("achievements/Grandmaster.png")), class: "badge-opacity", width: "40px" %>
    <%= image_tag (asset_path("achievements/NoLife.png")), class: "badge-opacity", width: "40px" %>
    <%= image_tag (asset_path("achievements/Ready2Code.png")), class: "badge-opacity", width: "40px" %>
  </div>
</div>
