<div class="container">
  <h1>Exercices#index</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% @exercices.each do |exercice| %>
        <div class="d-flex">
          <div>
          <%= link_to toggle_favorite_exercice_path(exercice), data: {turbo_method: :post} do %>
            <%= render partial: 'exercices/like_button', locals: { exercice: exercice } %>
          <% end %>
          </div>
          <div>
            <%= link_to  new_exercice_submission_path(exercice) do %>
              <h3><%= exercice.title %></h3>
              <p>Instruction : <%= exercice.instructions %></p>
              <p>Exp : <%= exercice.exp%> </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
