<div class="container">
  <h1>Exercices</h1>
  <hr>
  <div class="form">
    <%= form_with url: exercices_path, method: :get, class: "d-flex ", data:{turbo_frame: "exercices", controller: "form"} do %>
    <%= select_tag :query, options_from_collection_for_select(Tag.titles, "first", "last"),
      multiple: true,
      data: {controller: "tom-select",
        action: "form#submitForm",
        tom_select_options_value: {
        tags: true,
        plugins: {
          remove_button:{
          title:'Remove this item',

		      }
        }
       }
      },
      class: "form-control"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>
  <%= turbo_frame_tag "exercices" do %>
   <%= render "exercices/partials/exercices", exercices: @exercices%>
  <% end %>
</div>
