<div>
  <h1>Exercices#index</h1>
  <% @exercices.each do |exercice| %>
    <%= link_to exercice_path(exercice) do %>
      <div class="card-product">
        <div class="card-product-infos">
            <h2>Title : <%= exercice.title%></h2>
            <p>Details : <%= exercice.details%></p>
            <p>Instruction : <%= exercice.instructions%> </p>
            <p>Exp : <%= exercice.exp%> </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
